.about {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
}
.about .item {
    border-style: unset;
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-color: #cbd5e1;
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    counter-increment: section;
    position: relative;
    color: #fff;
}
.about .item:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 1.25em;
    width: 1.25em;
    background-color: #cbd5e1;
    text-align: center;
    line-height: 1.25em;
    color: #000;
    font-size: 1em;
    box-sizing: content-box;
}
.about .item:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}
.about .item:nth-child(odd):before {
    left: 100%;
    margin-left: -20px;
}
.about .item:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
.about .item:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
}
.about .item:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.about .item:not(:first-child) {
    padding-top: 20px;
}
.about .item:not(:last-child) {
    padding-bottom: 20px;
}
.about .item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
