:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --color-subtext: #888888;
  --duration: 30s;
  --gap: 1rem;
}

::selection {
  color: white;
  background: #3B82F6;
}

body {
  background-color: #111111;
  color: #ebebeb;
  font-size: 125%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}


.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3
}

.origin-left {
  transform-origin: left
}

.translate-y-10 {
  --tw-translate-y: 2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-x-0 {
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform-gpu {
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes marquee {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - var(--gap)))
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite
}

.cursor-pointer {
  cursor: pointer
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.place-items-center {
  place-items: center
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.gap-1 {
  gap: 0.25rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-4 {
  gap: 1rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-\[1rem\] {
  gap: 1rem
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.divide-slate-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-divide-opacity))
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.border-none {
  border-style: none
}

.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 17 / var(--tw-bg-opacity))
}

.bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops))
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops))
}

.from-background {
  --tw-gradient-from: #111111;
  --tw-gradient-to: rgb(17 17 17 / 0) ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-6 {
  padding: 1.5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pl-8 {
  padding-left: 2rem
}

.text-center {
  text-align: center
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.italic {
  font-style: italic
}

.leading-6 {
  line-height: 1.5rem
}

.leading-7 {
  line-height: 1.75rem
}

.tracking-tight {
  letter-spacing: -0.025em
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-indigo-500 {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity))
}

.text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity))
}

.text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgb(163 163 163 / var(--tw-text-opacity))
}

.text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgb(64 64 64 / var(--tw-text-opacity))
}

.text-slate-100 {
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity))
}

.text-slate-300 {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity))
}

.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opacity-0 {
  opacity: 0
}

.opacity-50 {
  opacity: 0.5
}

.opacity-70 {
  opacity: 0.7
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.\[--duration\:25s\] {
  --duration: 25s
}

.\[--duration\:30s\] {
  --duration: 30s
}

.\[--gap\:1rem\] {
  --gap: 1rem
}

.\[border\:1px_solid_rgba\(255\2c 255\2c 255\2c \.1\)\] {
  border: 1px solid rgba(255,255,255,.1)
}

.\[box-shadow\:0_-20px_80px_-20px_\#ffffff1f_inset\] {
  box-shadow: 0 -20px 80px -20px #ffffff1f inset
}

.\[gap\:var\(--gap\)\] {
  gap: var(--gap)
}

.\[mask-image\:linear-gradient\(to_top\2c transparent_20\%\2c \#000_100\%\)\] {
  -webkit-mask-image: linear-gradient(to top,transparent 20%,#000 100%);
          mask-image: linear-gradient(to top,transparent 20%,#000 100%)
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute
}

.before\:left-2::before {
  content: var(--tw-content);
  left: 0.5rem
}

.before\:h-full::before {
  content: var(--tw-content);
  height: 100%
}

.before\:-translate-x-1\/2::before {
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.before\:translate-y-3::before {
  content: var(--tw-content);
  --tw-translate-y: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.before\:self-start::before {
  content: var(--tw-content);
  align-self: flex-start
}

.before\:bg-slate-300::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity))
}

.before\:px-px::before {
  content: var(--tw-content);
  padding-left: 1px;
  padding-right: 1px
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute
}

.after\:left-2::after {
  content: var(--tw-content);
  left: 0.5rem
}

.after\:box-content::after {
  content: var(--tw-content);
  box-sizing: content-box
}

.after\:h-2::after {
  content: var(--tw-content);
  height: 0.5rem
}

.after\:w-2::after {
  content: var(--tw-content);
  width: 0.5rem
}

.after\:-translate-x-1\/2::after {
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:translate-y-1\.5::after {
  content: var(--tw-content);
  --tw-translate-y: 0.375rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.after\:rounded-full::after {
  content: var(--tw-content);
  border-radius: 9999px
}

.after\:border-4::after {
  content: var(--tw-content);
  border-width: 4px
}

.after\:border-slate-50::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(248 250 252 / var(--tw-border-opacity))
}

.after\:bg-accent::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.hover\:bg-indigo-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.hover\:bg-white\/80:hover {
  background-color: rgb(255 255 255 / 0.8)
}

.hover\:opacity-100:hover {
  opacity: 1
}

.hover\:grayscale-0:hover {
  --tw-grayscale: grayscale(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.focus-visible\:outline:focus-visible {
  outline-style: solid
}

.focus-visible\:outline-2:focus-visible {
  outline-width: 2px
}

.focus-visible\:outline-offset-2:focus-visible {
  outline-offset: 2px
}

.focus-visible\:outline-indigo-600:focus-visible {
  outline-color: #4f46e5
}

.group:last-child .group-last\:before\:hidden::before {
  content: var(--tw-content);
  display: none
}

.group:hover .group-hover\:-translate-y-10 {
  --tw-translate-y: -2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:scale-75 {
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group\/linkihate:hover .group-hover\/linkihate\:scale-x-100 {
  --tw-scale-x: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:bg-black\/\[\.03\] {
  background-color: rgb(0 0 0 / .03)
}

.group:hover .group-hover\:text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1
}

.group:hover .group-hover\:\[animation-play-state\:paused\] {
  animation-play-state: paused
}

.dark\:text-neutral-300:is(.dark *) {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity))
}

.group:hover .group-hover\:dark\:bg-neutral-800\/10:is(.dark *) {
  background-color: rgb(38 38 38 / 0.1)
}

@media (min-width: 640px) {
  .sm\:mb-0 {
    margin-bottom: 0px
  }

  .sm\:min-h-\[400px\] {
    min-height: 400px
  }

  .sm\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .sm\:before\:left-0::before {
    content: var(--tw-content);
    left: 0px
  }

  .sm\:before\:ml-\[0\.5rem\]::before {
    content: var(--tw-content);
    margin-left: 0.5rem
  }

  .sm\:after\:left-0::after {
    content: var(--tw-content);
    left: 0px
  }

  .sm\:after\:ml-\[0\.5rem\]::after {
    content: var(--tw-content);
    margin-left: 0.5rem
  }
}

@media (min-width: 768px) {
  .md\:min-h-\[500px\] {
    min-height: 500px
  }
}

.\[\&\>\*\]\:pb-4>* {
  padding-bottom: 1rem
}