.content {
    margin-bottom: 2rem;
    max-width: 60rem;
    margin: 0 auto;
    font-family: var(--font-sans);
    margin-top: 4rem;
    line-height: 1.3;
}

.content *:not(.custom):not(figure):not(img) {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    box-sizing: border-box;
}

.icn svg {
    height: 100%;
    width: 100%;
}

.post-snippet {
    margin-bottom: 1rem;
}

.post-snippet h3 {
    margin-bottom: 0.25rem;
}

a {
    color: #3B82F6;
    text-decoration: none;
}

.card {
    padding: 20px;
    border: 1px solid #27272a;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}

.projek p,
.projek h2 {
    color: white;
}

.projek h2 {
    text-align: center;
}

.projek img {
    width: -moz-available;
    width: -webkit-fill-available;
    margin-top: 20px;
    border-radius: 5px;
}

blockquote {
    margin: 0;
    padding: 5px 20px;
    background-color: #191919;
    border-left: 5px solid lightgray;
    font-style: italic;
}

figure {
    margin: 2rem auto 2rem;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

figcaption {
    color: var(--color-subtext);
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
}

.timeline-content * {
    line-height: unset;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h1.home-title {
    font-size: 40px;
    font-weight: bolder;
    margin: 28px 0;
}

#content p {
    margin-block: calc(var(--spacing) * 8);
    text-align: justify;
}